---
layout: default
title: Home
---

<!-- Home Jumbotron
================================================== -->    
<section class="intro full-width">
    <div class="wrapintro">
        <h1>Kadir Elektrik Muhendislik</h1>
        <h2 class="lead">Her türlü Elektrik işleri yapılır. Her sektör için elektrik çalışması yapmaktayız. İletişime geçip, hemen fiyat teklifi alabilirsiniz!</h2>    
        <a href="#" class="btn">Bize ulaşın</a>
    </div>
</section>


<!-- Posts Index
================================================== -->
{% if paginator.previous_page %}
{% if paginator.previous_page > 0 %}
<div id="jumptopageof"></div>
{% endif %}
{% endif %}    

<section>
    <div class="section-title">
        <h2><span>Hakkımızda</span></h2>
    </div>

    <div class="col-sm-12 card-text">
        Akaryakıt istasyonu elektrik işleri , İşyeri, Ofis Saha aydınlatma , İstasyon dağıtım kumanda panoları , Paratöner tesisatı yapımı , Kadvel kaynak işleri , Kompanzasyon işleri Teknolojik yatırımlarla sürekli desteklenen güvenli ve kaliteli ürün yapısını geliştirerek, yenilikçi, yaratıcı ve küresel trendlere uyan özgün ürün tasarımları ve hizmetleri ile koşulsuz müşteri memnuniyetini sağlamayı hedefleyen;Yaptığımız her işte iş ve işçi emniyeti, çevreye saygı, kaliteden ödün vermeden ekonomik, hızlı ve teknolojik çözümler üretmek öncelikli hedefimizdir.
    </div>

</section>
<section class="recent-posts row">

    <div class="col-sm-12">

        <div class="section-title">
            <h2><span>Hizmetlerimiz</span></h2>    
        </div>

        <div class="masonrygrid row listrecent">

            {% for post in paginator.posts %}

            {% include postbox.html %}

            {% endfor %}

        </div> 

        <!-- Pagination -->
        <div class="bottompagination" style="display: none;">

            <span class="navigation" role="navigation">

                {% include pagination.html %}

            </span>

        </div>

    </div>

</section>